@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Proxima-Nova-Bold";
  src: url("/build/fonts/Proxima-Nova-Bold.otf");
}

@font-face {
  font-family: "Proxima-Nova-Semi-Bold";
  src: url("/build/fonts/Proxima-Nova-Bold.otf");
}

@font-face {
  font-family: "Proxima-Nova";
  src: url("/build/fonts/Proxima-Nova-Reg.otf");
}