@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Proxima-Nova-Bold";
  src: url("/build/fonts/Proxima\ Nova—bold.otf");
}

@font-face {
  font-family: "Proxima-Nova-Semi-Bold";
  src: url("/build/fonts/Proxima\ Nova\ Semibold.otf");
}

@font-face {
  font-family: "Proxima-Nova";
  src: url("/build/fonts/Proxima\ Nova\ ScOsf\ Cond\ Reg.otf");
}